'.text.html':
    'mat-autocomplete':
        'prefix': 'mat-autocomplete'
        'body': """
            <mat-autocomplete mat-selected-item="${1:selectedItem}" mat-search-text="${2:searchText}" mat-items="${3:item in getMatches(searchText)}" mat-item-text="${4:item.display}">
              ${5:<mat-item-template>
              	${6:<span mat-highlight-text="${7:searchText}">\{\{ ${8:item.display} \}\}</span>}
              </mat-item-template>}
              ${9:<mat-not-found>
              	${10:No Matches Found.}
              </mat-not-found>}
            </mat-autocomplete>
        """
    'mat-button':
        'prefix': 'mat-button'
        'body': """
            <mat-button ${1:class="${2:mat-raised|mat-fab|mat-mini}"} ${3:href="${4:http://google.com}"} ${5:ng-disabled="${6:true|false}"} aria-label="${7:description}" ${8:mat-no-ink="${9:true|false}"} ${10:mat-ripple-size="${11:full|partial|auto}"}>${12:content}</mat-button>
        """
    'mat-card':
            'prefix': 'mat-card'
            'body': """
                <mat-card>
                	${1:<img class="mat-card-image" src="${2:card-image.png}" alt="${3:image caption}">}
                	<mat-card-content>
                		<h2>${4:Card headline}</h2>
                		<p>${5:Card content}</p>
                	</mat-card-content>
                	${6:<mat-card-footer>
                	${7:Card footer}
                	</mat-card-footer>}
                	${8:<div class="mat-actions" layout="${9:row|column}" layout-align="${10:start|end|center} ${11:start|end|center}">
                	   ${12:<mat-button>${13:content}</mat-button>}
                	 </div>}
                </mat-card>
            """
    'mat-checkbox':
        'prefix': 'mat-checkbox'
        'body': """
            <mat-checkbox ${1:mat-no-ink} ${2:ng-true-value="${3:expr}" ng-false-value="${4:expr}"} ng-model="${5:variable}" ${6:name="${7:string}"} ${8:ng-change="${9:expr}"} ${10:ng-disabled="${11:boolean}"} aria-label="${12:string}">
            	${13:content}
            </mat-checkbox>
        """
    'mat-chips':
        'prefix': 'mat-chips'
        'body': """
            <mat-chips ${1:ng-model="${2:string|object}"} ${3:mat-on-append="${4:expr}"} ${5:placeholder="${6:string}"} ${7:secondary-placeholder="${8:string}"} ${9:readonly="${10:boolean}"} ${11:mat-on-remove="${12:expr}" ${13:mat-on-select="${14:expr}"}} ${15:delete-hint="${16:string}" ${17:delete-button-label="${18:string}"}}>
            	${19:<mat-chip-template>
            		${20:content}
            	</mat-chip-template>}
            	${21:<button mat-chip-remove class="${22:mat-primary vegetablechip}">
                	${23:<mat-icon>close</mat-icon>}
              	</button>}
              	${24:<mat-chip>${25:content}</mat-chip>}
            </mat-chips>
        """
    'mat-contact-chips':
        'prefix': 'mat-contact-chips'
        'body': """
            <mat-contact-chips ng-model="${1:variable}" mat-contacts="${2:searchFunction}" mat-contact-name="${3:string}" mat-contact-image="${4:string}" mat-contact-email="${5:string}" ${6:mat-require-match="${7:boolean}" mat-highlight-flags="${8:string}" filter-selected="${9:filterFunction}" placeholder="${10:string}"}>
            </mat-contact-chips>
        """
    'mat-content':
        'prefix': 'mat-content'
        'body': """
            <mat-content ${1:layout-padding} ${2:layout-wrap}>
                ${3:Lorem ipsum dolor sit amet, ne quod novum mei}
            </mat-content>
        """
    'mat-datepicker':
        'prefix': 'mat-datepicker'
        'body': """
            <mat-datepicker ng-model="${1:variable}" ${2:ng-change="${3:expr}" mat-min-date="${4:Date}" mat-max-date="${5:Date}" disabled="${6:boolean}" required="${7:boolean}"}></mat-datepicker>
        """
    'mat-divider':
        'prefix': 'mat-divider'
        'body': """
            <mat-divider ${1:mat-inset}></mat-divider>
        """
    'mat-grid-list':
        'prefix': 'mat-grid-list'
        'body': """
            <mat-grid-list mat-cols="${1:number}" mat-gutter="${2:string}" mat-row-height="${3:string}" mat-on-layout="${4:expr}">
                ${5:<mat-grid-tile>$6</mat-grid-tile>}
            </mat-grid-list>
        """
    'mat-grid-tile':
        'prefix': 'mat-grid-tile'
        'body': """
            <mat-grid-tile ${1:mat-colspan="${2:number}"} ${3:mat-rowspan="${4:number}"}>
            	${5:<mat-grid-tile-header>
            		${6:<h3>$7</h3>}
            	</mat-grid-tile-header>}
              	${8:<mat-grid-tile-footer>
              		${9:<h3>$10</h3>}
              	</mat-grid-tile-footer>}
            </mat-grid-tile>
        """
    'mat-highlight-text':
        'prefix': 'mat-highlight-text'
        'body': """
            <input ${1:placeholder="${2:Enter a search term...}"} ${3:ng-model="${4:searchTerm}"} type="${5:text}">
            <ul>
              <li mat-highlight-text="${4:searchTerm}">$5</li>
            </ul>
        """
    'mat-icon-ligature':
        'prefix': 'mat-icon-ligature'
        'body': """
            <mat-icon class="${1:material-icons step}" aria-label="${2:description}">${3:font-name}</mat-icon>
        """
    'mat-icon-svg':
        'prefix': 'mat-icon-svg'
        'body': """
            <mat-icon mat-svg-icon="${1:alarm}" style="${2:color: #0F0;}" aria-label="${3:Alarm Icon}"></mat-icon>
        """
    'mat-icon-url':
        'prefix': 'mat-icon-url'
        'body': """
            <mat-icon class="${1:step img}" mat-font-icon="${2:font.name}" aria-label="${3:description}"></mat-icon>
        """
    'mat-input-container':
        'prefix': 'mat-input-container'
        'body': """
            <mat-input-container>
            	${1:<label>${2:Username}</label>
            	<input type="text" ${3:ng-model="${4:user.name}"}>}
            </mat-input-container>
        """
    'mat-input':
        'prefix': 'mat-input'
        'body': """
            <label>$1</label>
            <input name="$2" ng-model="$3" placeholder="$4" required mat-maxlength="$5" minlength="$6">
        """
    'mat-list-item':
        'prefix': 'mat-list-item'
        'body': """
            <mat-list-item class="mat-2-line" ng-repeat="$1">
              $2
            </mat-list-item>
        """
    'mat-list':
        'prefix': 'mat-list'
        'body': """
            <mat-list>
              $1
            </mat-list>
        """
    'mat-menu':
        'prefix': 'mat-menu'
        'body': """
            <mat-menu mat-offset="0 0">
                <!-- Trigger element is a mat-button with an icon -->
                <mat-button ng-click="$mdOpenMenu()" class="mat-icon-button" aria-label="Open sample menu">
                    <mat-icon mat-svg-icon="call:phone"></mat-icon>
                </mat-button>
                <mat-menu-content>
                    <mat-menu-item><mat-button ng-click="doSomething()">Do Something</mat-button></mat-menu-item>
                </mat-menu-content>
            </mat-menu>
        """
    'mat-progress-circular':
        'prefix': 'mat-progress-circular'
        'body': """
            <mat-progress-circular mat-mode="determinate" value="$1" ng-value="$2" mat-diameter="48"></mat-progress-circular>
            <!--For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an mat-mode="indeterminate" indicator.-->
        """
    'mat-radio-button':
        'prefix': 'mat-radio-button'
        'body': """
            <mat-radio-button ng-model="$1" ng-value="$2" aria-label="$3">$4</mat-radio-button>
        """
    'mat-select':
        'prefix': 'mat-select'
        'body': """
            <mat-select ng-model="$1"> <!--mat-on-close: expression; multiple:boolean; placeholder: string;-->
                <mat-select-label>Select a state</mat-select-label>
                <mat-option ng-value="opt" ng-repeat="opt in options">{{ opt }}</mat-option>
            </mat-select>
        """
    'mat-sidenav':
        'prefix': 'mat-sidenav'
        'body': """
            <div layout="row" ng-controller="MyController">
                <mat-sidenav mat-component-id="left" class="mat-sidenav-left">
                    Left Nav!
                </mat-sidenav>
                <mat-content>
                    Center Content
                    <mat-button ng-click="openLeftMenu()">
                        Open Left Menu
                    </mat-button>
                </mat-content>
                <mat-sidenav mat-component-id="right" mat-is-locked-open="$mdMedia('min-width: 333px')" class="mat-sidenav-right">
                    <form>
                        <mat-input-container>
                            <label for="testInput">Test input</label>
                            <input id="testInput" type="text" ng-model="data" mat-sidenav-focus>
                        </mat-input-container>
                    </form>
                </mat-sidenav>
            </div>
        """
    'mat-subheader':
        'prefix': 'mat-subheader'
        'body': """
            <mat-subheader>$1</mat-subheader>
            <!--You can use mat-no-sticky class-->
        """
    'mat-slider':
        'prefix': 'mat-slider'
        'body': """
            <mat-slider mat-discrete ng-model="myDiscreteValue" step="$1" min="$2" max="$3"></mat-slider>
        """
    'mat-swipe-left':
        'prefix': 'mat-swipe-left'
        'body': """
            <div mat-swipe-left="onSwipeLeft()">$1</div>
        """
    'mat-swipe-right':
        'prefix': 'mat-swipe-right'
        'body': """
            <div mat-swipe-right="onSwipeRight()">$1</div>
        """
    'mat-switch':
        'prefix': 'mat-switch'
        'body': """
            <mat-switch ng-model="$1" aria-label="$2">
                $3
            </mat-switch>
        """
    'mat-tab':
        'prefix': 'mat-tab'
        'body': """
            <mat-tab label="" disabled mat-on-select="" mat-on-deselect="">
                <mat-tab-label>
                    <h3>$1</h3>
                </mat-tab-label>
                <mat-tab-body>
                    <p>
                        $2
                    </p>
                </mat-tab-body>
            </mat-tab>
        """
    'mat-tabs':
        'prefix': 'mat-tabs'
        'body': """
            <mat-tabs mat-selected="selectedIndexInteger">
                $1
            </mat-tabs>
            <!-- mat-tabs attributes you can use:
            mat-selected - integer - Index of the active/selected tab
            mat-no-ink - boolean - If present, disables ink ripple effects.
            mat-no-bar - boolean -If present, disables the selection ink bar.
            mat-align-tabs string - Attribute to indicate position of tab buttons: bottom or top; default is top
            mat-stretch-tabs string - Attribute to indicate whether or not to stretch tabs: auto, always, or never; default is auto
            mat-dynamic-height - boolean - When enabled, the tab wrapper will resize based on the contents of the selected tab
            mat-center-tabs - boolean - When enabled, tabs will be centered provided there is no need for pagination
            mat-no-pagination - boolean - When enabled, pagination will remain off
            mat-swipe-content - boolean - When enabled, swipe gestures will be enabled for the content area to jump between tabs
            mat-no-disconnect - boolean - If your tab content has background tasks (ie. event listeners), you will want to include this to prevent the scope from being disconnected
            mat-autoselect - boolean - When present, any tabs added after the initial load will be automatically selected
            -->
        """
    'mat-toolbar':
        'prefix': 'mat-toolbar'
        'body': """
            <div layout="column" layout-fill>
                <mat-toolbar mat-scroll-shrink mat-shrink-speed-factor="0.5">
                 	<mat-button class="mat-icon-button" aria-label="Settings">
                        <mat-icon mat-svg-icon="img/icons/menu.svg"></mat-icon>
                    </mat-button>
                    <h2>
                      <span>Toolbar with Icon Buttons</span>
                    </h2>
                    <span flex></span>
                    <mat-button class="mat-icon-button" aria-label="Favorite">
                        <mat-icon mat-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></mat-icon>
                    </mat-button>
                    <mat-button class="mat-icon-button" aria-label="More">
                        <mat-icon mat-svg-icon="img/icons/more_vert.svg"></mat-icon>
                    </mat-button>
                </mat-toolbar>
                <!--Note: for scrollShrink to work, the toolbar must be a sibling of a mat-content element, placed before it.-->
                <mat-content>
                    Hello!
                </mat-content>
            </div>
        """
    'mat-tooltip':
        'prefix': 'mat-tooltip'
        'body': """
            <mat-tooltip mat-visible="true" mat-delay="400" mat-direction="bottom" mat-autohide="true">
                $1
            </mat-tooltip>
        """
    'mat-whiteframe':
        'prefix': 'mat-whiteframe'
        'body': """
            <mat-whiteframe class="mat-whiteframe-z1" layout layout-align="center center">
                $1
            </mat-whiteframe>
        """
